body {
  font-family: Helvetica;
  color: black;
  font-size: 14px
}

ul {
  text-align: justify;
  text-justify: inter-word;
  margin-right: 10px;
}

h1 {
  text-align: center;
}

h2 {
   text-align: center;
}

img {
  border-radius: 8px;
  width: 400px;
  height: 400px;
}

.jobs {
  text-align: justify;
  text-justify: inter-word;
  margin-left: 20px;
  margin-right: 20px;
  background-color: powderblue;
	width: 65%;
	float: left;
	
}

.pic {
	
	align: center;
}
