body {
  font-family: Helvetica;
  color: black;
  font-size: 14px
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 350px;
  margin-left: 0px;
}

h1 {
  text-align: center;
}

h2 {
   text-align: center;
}

img {
  border-radius: 8px;
  float: left;
  width: 300px;
  height: 300px;
}
